<div id="pings"></div>



<div id="chats" style="width:400px;height:600px;border:solid 1px;overflow-y:scroll;"></div>


<form action="#" method="post" id="chat-form">
  <input type="text" name="chat-message" id="" placeholder="Escribe algo">
  <input type="submit" value="Enviar">
</form>